

table,tr,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    }

    
    *{
        box-sizing:border-box;
        
        }
        
        
        header{
        
          margin-right: 50px;
          margin-left: 50px;
          /* background-color:rgb(160, 147, 125); */
          font-family: 'Times New Roman', Times, serif;
         height: 200px;;
    
        }


 




 #div1{
padding: 20px;
float: left;
margin: 20px;
background-color: cornsilk;
width: 100%;
position: relative;
}
 #div1 span ul li{
display: inline-block;
margin-left: 60px;
position: relative;
 }

 #div1 img{

    position: absolute;
    top: 34%;
    bottom: 5%;
    right: 93%;
 }
#div2{

    background-color: darkgreen;
    padding: 20px;
float: left;
margin: 20px;
width: 100%;
position: relative;

}
#div2 span ul li{
    display:inline-block;
    margin: 0;
    margin-left: 250px;
    color: whitesmoke;
}

#div2 a{

    color:rgb(5, 5, 5);
    position: absolute;
    bottom: 170%;
    left: 87%;
    font-size: xx-large;
    text-decoration: none;
}
#div2 img{

    position: absolute;
    top: 0%;
    bottom: 10%;
    left: 4%;
    right: 10%;
  }  

  body{
      background-color: rgb(235, 247, 247);
  }
  #firstdiv{
      position: relative;
  }
  
  #firstdiv img{
      
    
    /* position: absolute;
    right: 50%;
    left: 55%;
    bottom: 20%; */
    height: 140%;
    width: 30%;
    top:71%;
    margin-left: 10%;
    margin-top: 5%;
    
  }


  

  main div h2{

    position: absolute;
    top: 40%;
    bottom: 5%;
    left: 45%;
    right: 5%;
    color: darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


main div h2{
    font-size: 200%;
}
 main div p {
     position: absolute;
     top: 50%;
     right: 35%;
     font-family: monospace;
     font-size: 20px;
 }




 #firstdiv1{
    position: relative;
}

#firstdiv1 img{
    
  
  /* position: absolute;
  right: 50%;
  left: 55%;
  bottom: 20%; */
  height: 140%;
  width: 30%;
  top:71%;
  margin-left: 10%;
  margin-top: 5%;
  
}




main #seconddiv h2{

  position: absolute;
  top: 80%;
  bottom: 5%;
  left: 40%;
  right: 5%;
  color: darkgreen;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


main div h2{
  font-size: 200%;
}
main #seconddiv p {
   position: absolute;
   top: 90%;
   right: 35%;
   font-family: monospace;
   font-size: 20px;
}







#firstdiv2{
    position: relative;
}

#firstdiv2 img{
  height:300px;
  width: 500px;
  top:46%;
  margin-left: 70%;
  margin-top: 18%;
  
}




main #thirddiv h2{

  position: absolute;
  top: 140%;
  bottom: 5%;
  left: 35%;
  right: 0%;
  color: darkgreen;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


main div h2{
  font-size: 200%;
}
main #thirddiv p {
   position: absolute;
   top: 130%;
   right: 70%;
   font-family: monospace;
   font-size: 20px;
   background-color: darkgreen;
   color: whitesmoke;
   padding: 5%;
}

