

table,tr,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

    
*{
     box-sizing:border-box;
        
}
        
        
header{
        
  margin-right: 50px;
  margin-left: 50px;
 font-family: 'Times New Roman', Times, serif;
 height: 200px;
    
}

#div1{
padding: 20px;
float: left;
margin: 20px;
background-color: cornsilk;
width: 100%;
position: relative;
}

#div1 span ul li{
display: inline-block;
margin-left: 60px;
position: relative;
}

#div1 img{

    position: absolute;
    top: 34%;
    bottom: 5%;
    right: 93%;
}

#div2{

background-color: darkgreen;
padding: 20px;
float: left;
margin: 20px;
width: 100%;
position: relative;
font-family: 'Zilla Slab Highlight', cursive;
font-size: 18px;

}

#div2 span ul li{
    display:inline-block;
    margin: 0;
    margin-left: 250px;
    color: whitesmoke;
}

#div2 a{

    color:rgb(5, 5, 5);
    position: absolute;
    bottom: 170%;
    left: 87%;
    font-size: xx-large;
    text-decoration: none;
}
#div2 img{

    position: absolute;
    top: 0%;
    bottom: 10%;
    left: 4%;
    right: 10%;
  }  

  body{
      background-color: rgb(247, 252, 252);
  }
  #firstdiv{
      position: relative;
  }
  
  #firstdiv img{
    
    height: 140%;
    width: 30%;
    top:71%;
    margin-left: 10%;
    margin-top: 5%;
    
  }


  

  main div h2{

    position: absolute;
    top: 40%;
    bottom: 5%;
    left: 45%;
    right: 5%;
    color: darkgreen;
    font-family:Arial;
  }


main div h2{
    font-size: 200%;
}
 main div p {
     position: absolute;
     top: 50%;
     right: 35%;
     font-family: 'Times New Roman', Times, serif;
     font-size: 20px;
 }




 #firstdiv1{
    position: relative;
}

#firstdiv1 img{
  
  height: 140%;
  width: 30%;
  top:71%;
  margin-left: 10%;
  margin-top: 5%;
  
}




main #seconddiv h2{

  position: absolute;
  top: 80%;
  bottom: 5%;
  left: 45%;
  right: 5%;
  color: darkgreen;
  font-family:Arial;
}


main div h2{
  font-size: 200%;
}
main #seconddiv p {
   position: absolute;
   top: 90%;
   right: 35%;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
}




 main section{
  position: relative;
  background-color: rgb(145, 199, 136);
  padding: 10%;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
}


#firstdiv2{
    position: absolute;
    top: 5%;
    bottom: 70%;
    left: 70%;
    margin-bottom: 5%;

}

main #thirddiv h2{

  position: absolute;
  top: 10%;
  bottom: 50%;
  left: 35%;
  right: 0%;
  color: rgb(1, 24, 1);
  font-family:Arial;

}


main div h2{
  font-size: 200%;
}
main #thirddiv p {
   position: absolute;
   top: 40%;
   left: 35%;
   font-family: 'Times New Roman', Times, serif;
   font-size: 20px;
   /* background-color: rgb(165, 189, 165); */
   color: whitesmoke;
   /* padding: 5%; */

}

button{
  background-color: chocolate;
  border: none;
  color: cornsilk;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
font-size: 16px;
cursor: pointer;
}



main #sec2{
  position: relative;
  background-color: rgb(221, 255, 188);
}

#right{

  float: right;

}
#right img{

  padding: 30px;
  
}

#right p{
  top: 105%;
  right: 8%;
  color:rgb(100, 43, 2);
  /* background-color:cornsilk; */
  padding: 2%;
  margin-top: 0%;
  font-family: 'Times New Roman', Times, serif;

}
main #right h2{

  position: absolute;
  bottom: 90%;
  top: 5%;
  right: 15%;
  left: 5%;
  color:rgb(16, 16, 17);
  font-family:Arial;

}


#left{

  float: left;
}

#left img{

  padding-bottom: 30px;
  width: 276px;
  height: 175px;
}

#left p{
  top: 105%;
  left: 8%;
  color:rgb(100, 43, 2);
  /* background-color:cornsilk; */
  padding: 2%;
  margin-top: 0%;
  font-family: 'Times New Roman', Times, serif;

  
}
main #left h2{

  position: absolute;
  bottom: 90%;
  top: 5%;
  left: 65%;
  right: 5%;
  color:rgb(16, 16, 17);
  font-family:Arial;
}

footer{
  margin-right: 30px;
  margin-left: 30px;
 font-family: 'Times New Roman';
 height: 100px;
  margin-top: 20%;
}

#div3{

  background-color: rgb(254, 255, 222);
  padding: 20px;
  float: left;
  margin: 20px;
  width: 100%;
  position: relative;
  
  }
footer #div3 span ul li{
  display:inline-block;
  margin-left: 250px;
  color: darkgreen;
  font-size: 20px;
  font-family: cursive;
}

#div3 img{

  position: absolute;
  top: 0%;
  bottom: 10%;
  left: 4%;
  right: 10%;
}  

form{
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(252, 222, 192);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(180, 132, 108);

}

  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(180, 132, 108);
  }
 input[type=submit] {
    background-color:rgb(180, 132, 108);
    border: none;
    color: rgb(252, 244, 244);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
 

#divsales1{
  padding: 20px;
  float: left;
  margin: 20px;
  background-color: rgb(215, 151, 113);
  width: 100%;
  position: relative;
  }
  
  #divsales1 span ul li{
  display: inline-block;
  margin-left: 60px;
  position: relative;
  }
  
  #divsales1 img{
  
      position: absolute;
      top: 34%;
      bottom: 5%;
      right: 93%;
  }

  #divsales1 a{

color: rgb(250, 245, 241);
    position: absolute;
    bottom: 35%;
    left: 87%;
    font-size: xx-large;
    text-decoration: none;
    font-family: 'Zilla Slab Highlight', cursive;
  }
  



    table{
      margin-top: 5%;
      margin-left: 10%;
      margin-right: 10%;
      padding: 12%;
      background-color: rgb(229, 178, 153);
      width: 80%;
      height: 100%;
      
    }

    th{
font-size: 30px;
color: rgb(117, 52, 34);
    }

    td{
      font-size: 20px;
      color: rgb(176, 91, 59);
      text-align: center;
     
    }
    tr{
      padding: 2%;
    }