

table,tr,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

    
*{
     box-sizing:border-box;
        
}
        
        
header{
        
  margin-right: 50px;
  margin-left: 50px;
 font-family: 'Times New Roman', Times, serif;
 height: 200px;
    
}

#div1{
padding: 20px;
float: left;
margin: 20px;
background-color: cornsilk;
width: 100%;
position: relative;
}

#div1 span ul li{
display: inline-block;
margin-left: 60px;
position: relative;
}

#div1 img{

    position: absolute;
    top: 34%;
    bottom: 5%;
    right: 93%;
}

#div2{

background-color: darkgreen;
padding: 20px;
float: left;
margin: 20px;
width: 100%;
position: relative;

}

#div2 span ul li{
    display:inline-block;
    margin: 0;
    margin-left: 250px;
    color: whitesmoke;
}

#div2 a{

    color:rgb(5, 5, 5);
    position: absolute;
    bottom: 170%;
    left: 87%;
    font-size: xx-large;
    text-decoration: none;
}
#div2 img{

    position: absolute;
    top: 0%;
    bottom: 10%;
    left: 4%;
    right: 10%;
  }  

  body{
      background-color: rgb(247, 252, 252);
  }
  #firstdiv{
      position: relative;
  }
  
  #firstdiv img{
    
    height: 140%;
    width: 30%;
    top:71%;
    margin-left: 10%;
    margin-top: 5%;
    
  }


  

  main div h2{

    position: absolute;
    top: 40%;
    bottom: 5%;
    left: 45%;
    right: 5%;
    color: darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


main div h2{
    font-size: 200%;
}
 main div p {
     position: absolute;
     top: 50%;
     right: 35%;
     font-family: monospace;
     font-size: 20px;
 }




 #firstdiv1{
    position: relative;
}

#firstdiv1 img{
  
  height: 140%;
  width: 30%;
  top:71%;
  margin-left: 10%;
  margin-top: 5%;
  
}




main #seconddiv h2{

  position: absolute;
  top: 80%;
  bottom: 5%;
  left: 45%;
  right: 5%;
  color: darkgreen;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


main div h2{
  font-size: 200%;
}
main #seconddiv p {
   position: absolute;
   top: 90%;
   right: 35%;
   font-family: monospace;
   font-size: 20px;
}




 main section{
  position: relative;
  background-color: cadetblue;
  padding: 10%;
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
}


#firstdiv2{
    position: absolute;
    top: 5%;
    bottom: 70%;
    left: 70%;
    margin-bottom: 5%;

}

main #thirddiv h2{

  position: absolute;
  top: 10%;
  bottom: 50%;
  left: 35%;
  right: 0%;
  color: rgb(1, 24, 1);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


main div h2{
  font-size: 200%;
}
main #thirddiv p {
   position: absolute;
   top: 40%;
   left: 35%;
   font-family: monospace;
   font-size: 20px;
   /* background-color: rgb(165, 189, 165); */
   color: whitesmoke;
   /* padding: 5%; */

}

button{
  background-color: chocolate;
  border: none;
  color: cornsilk;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
font-size: 16px;
cursor: pointer;
}



main #sec2{
  position: relative;
  background-color: rgb(248, 234, 229);
}

#right{

  float: right;

}
#right img{

  padding: 10px;
  
}

#right p{
  top: 105%;
  right: 8%;
  color:rgb(100, 43, 2);
  /* background-color:cornsilk; */
  padding: 2%;
  margin-top: 0%;
}
main #right h2{

  position: absolute;
  bottom: 90%;
  top: 5%;
  right: 15%;
  left: 5%;
  color:rgb(16, 16, 17);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


#left{

  float: left;
}

#left img{

  padding: 10px;
  width: 276px;
  height: 175px;
}

#left p{
  top: 105%;
  left: 8%;
  color:rgb(100, 43, 2);
  /* background-color:cornsilk; */
  padding: 2%;
  margin-top: 0%;
  
}
main #left h2{

  position: absolute;
  bottom: 90%;
  top: 5%;
  left: 65%;
  right: 5%;
  color:rgb(16, 16, 17);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
  margin-right: 50px;
  margin-left: 50px;
 font-family: 'Times New Roman', Times, serif;
 height: 100px;
    
}
footer #div3 span ul li{
  display:inline-block;
  /* margin-left: 250px; */
  color: whitesmoke;
}